-- Blog Templates Table Creation
-- Run this in the glitchwizarddigi_envato_blog_db database
-- Creates a blog_templates table similar to the newsletters table for template functionality

USE glitchwizarddigi_envato_blog_db;

-- Create blog_templates table
CREATE TABLE IF NOT EXISTS blog_templates (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    content LONGTEXT NOT NULL,
    category_id INT DEFAULT NULL,
    created_by INT NOT NULL,
    created_date DATE NOT NULL,
    created_time TIME NOT NULL,
    active ENUM('Yes', 'No') DEFAULT 'Yes',
    attachments TEXT DEFAULT NULL,
    INDEX idx_category (category_id),
    INDEX idx_created_by (created_by),
    INDEX idx_active (active),
    FOREIGN KEY (category_id) REFERENCES categories(id) ON DELETE SET NULL,
    FOREIGN KEY (created_by) REFERENCES users(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Add some sample blog templates (optional - remove if not needed)

-- Verify the table was created
SELECT 'blog_templates table created successfully' as status;
DESCRIBE blog_templates;
