/* Main Admin- this is in admin/assets/css/admin.css */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
header a {
  display: inline-flex;
  color: #4a5361;
  height: 100%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

header a i {
  font-size: 16px;
}

header a:hover, header a:active {
  color: #606c7e;
}
header .dropdown .list a {
  padding: 10px 15px;
  font-size: 14px;
}
header.full {
  padding-left: 0;
}


aside > a i {
  width: 40px;
}


aside .sub a span.square {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 30px 0 3px;
  background-color: #afb1b5;
}

main.full {
  padding-left: 30px;
  padding-right: 30px;
}

main h2 a {
  text-decoration: none;
  font-size: 20px;
  color: #9298a0;
}

main h2 a i {
  margin: 0 5px;
}

main h2 a:hover {
  color: #6e7581;
}

main .msg i.fa-times {
  align-self: flex-end;
  justify-content: flex-end;
  cursor: pointer;
}

main .msg i.fa-times:hover {
  opacity: .9;
}

main .msg.success i {
  color: #51a775;
}

main .msg.error i {
  color: #a75151;
}

main .filter-list .filter a i {
  font-size: 14px;
}

main .filter-list .filter a:hover {
  color: #555f6f;
}

main .content-header .search i {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 0;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  color: #b5b9bd;
}

main .content-block .block-header i {
  display: inline-flex;
  height: 25px;
  width: 25px;
  padding-top: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #d5e7fa;
  color: #6e94ba;
  margin-right: 10px;
}

main .content-block .message {
  padding: 15px 0;
}
main .content-block .extras {
  display: flex;
  flex-flow: wrap;
  border-top: 1px solid #f0f1f2;
  margin-top: 15px;
}
main .content-block .extras .extra {
  padding-top: 20px;
  width: 25%;
}
main .content-block .extras .extra h3 {
  font-size: 14px;
  font-weight: 500;
  padding: 0 0 5px 0;
  margin: 0;
  color: #6e7581;
}
main .content-block .extras .extra p {
  padding: 5px 0;
  margin: 0;
}
main .content-block .extras .extra a {
  text-decoration: none;
}
main .content-block .extras .extra a img {
  margin: 5px 5px 0 0;
  border-radius: 4px;
}
main .content-block .extras .extra a:hover img {
  opacity: 0.8;
}

main .dashboard .stat > i {
  display: inline-flex;
  justify-content: center;
  padding: 15px;
  margin: 30px 25px 0 0;
  align-items: center;
  font-size: 18px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #d5e7fa;
  color: #6e94ba;
}

main .dashboard .stat .footer i {
  padding-right: 5px;
}

main .campaign-stats {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

main .campaign-stats .stat {
  width: 19%;
  padding: 15px;
  display: flex;
  flex-flow: wrap;
}

main .campaign-stats .stat .ratio {
  --ratio: 0;
  display: flex;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  clip-path: circle(50%);
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

main .campaign-stats .stat .ratio::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: conic-gradient(#eaedf0 0 calc(var(--ratio) * 360deg), #41699e calc(var(--ratio) * 360deg) 360deg);
  z-index: -2;
}

main .campaign-stats .stat .ratio.red::before {
  background-image: conic-gradient(#eaedf0 0 calc(var(--ratio) * 360deg), #a75151 calc(var(--ratio) * 360deg) 360deg);
}

main .campaign-stats .stat .ratio::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

main .campaign-stats .stat .ratio span {
  display: flex;
}

main .campaign-stats .stat .ratio .percentage {
  font-size: 18px;
  font-weight: 500;
  color: #808790;
}

main .campaign-stats .stat .data {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 20px;
}

main .campaign-stats .stat .data .title {
  font-weight: 500;
  font-size: 14px;
  color: #6e7581;
}

main .campaign-stats .stat .data .val {
  font-size: 20px;
}

main .campaign-stats .stat .data .val span {
  font-size: 16px;
  color: #9298a0;
}

main .form input[type="checkbox"] {
  width: auto;
  margin: 15px 0 25px 2px;
  transform: scale(1.2);
}

main .form label .required {
  font-style: normal;
  color: #e26060;
}

main .form .multiselect {
  position: relative;
  display: flex;
  flex-flow: wrap;
  border-bottom: 1px solid #dedfe1;
  padding-bottom: 10px;
  margin: 15px 0 25px 0;
  margin-bottom: 25px;
}

main .form .multi-checkbox .con {
  height: 200px;
  overflow-y: auto;
}

main .form .multi-checkbox .item {
  display: flex;
  padding-bottom: 0;
  align-items: center;
}

main .form .multi-checkbox .item input[type="checkbox"] {
  margin: 0 5px;
  padding: 0;
}

main .form .multi-checkbox .item input[type="text"] {
  border-left: 1px solid #ececec;
  border-bottom: 0;
  margin: 0 0 0 15px;
  padding: 8px 15px;
  font-size: 14px;
}

main .form .multi-checkbox .item label {
  border-left: 1px solid #ececec;
  margin: 0 15px;
  padding: 5px 15px;
  font-weight: normal;
  font-size: 14px;
}

main .form .multi-checkbox .item.check-all {
  border-bottom: 1px solid #ececec;
}

main .form .multi-checkbox .item.check-all input[type="checkbox"] {
  opacity: .7;
}

main .form .multi-checkbox .item.check-all input[type="checkbox"]:checked {
  opacity: 1;
}
  
.table table thead td i {
  padding-left: 5px;
}
  
.table table tbody td .grey {
  background-color: #e8ebec;
  color: #8e9499;
} 
.table table tbody td .images {
  max-width: 180px;
} 
.table table tbody td.truncated-txt {
  max-width: 200px;
}
.table table tbody td.truncated-txt div {
  color: #737980;
}
.table table tbody td.truncated-txt div span {
  display: inline;
  font-size: 14px;
  word-wrap: break-word;
}
.table table tbody td.truncated-txt div span.full {
  display: none;
}
.table table tbody td.truncated-txt div .read-more {
  text-decoration: none;
  font-size: 14px;
  color: #2762cf;
  font-weight: 500;
}
.table table tbody td.truncated-txt.expanded div span.full {
  display: inline;
}
.table table tbody td.truncated-txt.expanded div span.short {
  display: none;
}
.table table tbody td.truncated-txt.expanded div .read-more {
  display: none;
}
.table table tbody td.user span {
  display: block;
  color: #9aa0a5;
  font-size: 14px;
}  
.table table tbody .progress {
  display: flex;
  flex-flow: column;
}

.table table tbody .progress .txt {
  font-size: 14px;
  color: #8d8e8e;
}

.table table tbody .progress .bot {
  display: flex;
  align-items: center;
}

.table table tbody .progress .bot .per {
  font-weight: 500;
  color: #bcbdbe;
  width: 35px;
  font-size: 14px;
}

.table table tbody .progress .bar {
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 18px;
  border-radius: 4px;
  background-color: #edeff1;
}

.table table tbody .progress .bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #51a775;
  z-index: 0;
}

.table table tbody .progress .bar span.red {
  background-color: #a75151;
}

.table table tbody .rrp {
  color: #e26060;
}

.table table tbody .truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}


.table table tbody .status {
  display: flex;
  position: absolute;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  margin-top: -15px;
}

.table table tbody .status span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}

.table table tbody .status span.active {
  background-color: #51a775;
}

.table table tbody .status span.inactive {
  background-color: #bdbec0;
}

.table table tbody .status span.paused {
  background-color: #ee8f22;
}

.table table tbody .status span.cancelled {
  background-color: #a75151;
}

.table table tbody .status i {
  color: #c9cbd0;
}

.table table tbody .status:hover .dropdown {
  display: flex;
}

.table table tbody .status:hover i {
  color: #808790;
}

.table table tbody .status .dropdown {
  display: none;
  flex-flow: column;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  z-index: 9999999;
  width: 100px;
}

.table table tbody .status .dropdown a {
  display: flex;
  font-size: 14px;
  text-decoration: none;
  color: #4a5361;
  background-color: #fff;
  padding: 8px;
  border-bottom: 1px solid #ebeced;
}

.table table tbody .status .dropdown a:hover {
  background-color: #f9f9fa;
}

.table table tbody .status .dropdown a:last-child {
  border: 0;
}

.table table tbody .dot {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #51a775;
}

.table table tbody .dot.red {
  background-color: #a75151;
}

.newsletter-editor {
  padding: 0 20px 20px 20px;
  max-width: 1000px;
}

.newsletter-editor .header {
  display: flex;
  padding-bottom: 10px;
}

.newsletter-editor .header .format-btns {
  display: flex;
  flex: 1;
}

.newsletter-editor .header .format-btns span {
  padding: 10px 20px;
  background-color: #edeff1;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-weight: 600;
  font-size: 10px;
  line-height: 19px;
  text-transform: uppercase;
}

.newsletter-editor .header .format-btns a {
  text-decoration: none;
  color: #6e7174;
  padding: 10px 20px;
  background-color: #f3f4f5;
  font-weight: 500;
  font-size: 14px;
}

.newsletter-editor .header .format-btns a:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.newsletter-editor .header .format-btns a:hover {
  background-color: #edeff1;
}

.newsletter-editor .header .preview-btn a {
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  height: 40px;
  background-color: #4a79b4;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  align-items: center;
  padding-right: 15px;
  overflow: hidden;
}

.newsletter-editor .header .preview-btn a i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #4672a9;
  height: 100%;
  padding: 0 15px;
  margin-right: 15px;
}

.newsletter-editor .header .preview-btn a:hover {
  background-color: #4672a9;
}

.newsletter-editor .header .preview-btn a:hover i {
  background-color: #416a9e;
}

.newsletter-editor textarea {
  padding: 10px 5px;
  width: 100%;
  height: 400px;
  border: 0;
  border-bottom: 1px solid #dedfe1;
  font-size: 14px;
  tab-size: 4;
  font-family: Consolas,monaco,monospace;
  line-height: 22px;
}

.table table tbody .media {
  display: flex;
  align-items: center;
}

.table table tbody .media .media-img {
  text-decoration: none;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.table table tbody .media .placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9ec;
  color: #c0c2c5;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.table table tbody .media img {
  border-radius: 4px;
  width: 40px;
  height: 40px;
}
  
.login form input[type=password]::-moz-placeholder, .login form input[type=email]::-moz-placeholder {
  color: #9aa0a5;
}
.login form input[type=password]::placeholder, .login form input[type=email]::placeholder {
  color: #9aa0a5;
}      
   
@media screen and (max-width: 1000px) {
    main .campaign-stats {
    flex-wrap: wrap;
  }
  main .campaign-stats .stat {
    width: 49%;
  }
  .newsletter-editor .header {
    flex-flow: column;
  }
  .newsletter-editor .header .format-btns {
    flex-flow: wrap;
    padding-bottom: 15px;
  }
  .newsletter-editor .header .format-btns span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .newsletter-editor .header .format-btns a:last-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

/* ===================================================================
   BUTTON COLOR OVERRIDES - Bootstrap 5 Custom Colors
   =================================================================== */

/* Primary Button - Royal Purple (for navigation/links) */
.btn-primary,
.btn.btn-primary,
a.btn-primary,
button.btn-primary,
input.btn-primary {
  background-color: #6b46c1 !important;
  border-color: #6b46c1 !important;
  color: #FFFFFF !important;
}

.btn-primary:hover,
.btn.btn-primary:hover,
a.btn-primary:hover,
button.btn-primary:hover,
input.btn-primary:hover {
  background-color: #5a3aa3 !important;
  border-color: #5a3aa3 !important;
  color: #FFFFFF !important;
}

.btn-primary:active,
.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: #4e3189 !important;
  border-color: #4e3189 !important;
  box-shadow: 0 0 0 0.25rem rgba(107, 70, 193, 0.5) !important;
}

/* Success Button - Green (for submit/create actions) */
.btn-success,
.btn.btn-success,
a.btn-success,
button.btn-success,
input.btn-success {
  background-color: #4ab46d !important;
  border-color: #4ab46d !important;
  color: #FFFFFF !important;
}

.btn-success:hover,
.btn.btn-success:hover,
a.btn-success:hover,
button.btn-success:hover,
input.btn-success:hover {
  background-color: #46a966 !important;
  border-color: #46a966 !important;
  color: #FFFFFF !important;
}

.btn-success:active,
.btn-success:focus,
.btn.btn-success:active,
.btn.btn-success:focus {
  background-color: #3d9457 !important;
  border-color: #3d9457 !important;
  box-shadow: 0 0 0 0.25rem rgba(74, 180, 109, 0.5) !important;
}

/* Danger Button - Red (for delete actions) */
.btn-danger,
.btn.btn-danger,
a.btn-danger,
button.btn-danger,
input.btn-danger {
  background-color: #be4949 !important;
  border-color: #be4949 !important;
  color: #FFFFFF !important;
}

.btn-danger:hover,
.btn.btn-danger:hover,
a.btn-danger:hover,
button.btn-danger:hover,
input.btn-danger:hover {
  background-color: #b74141 !important;
  border-color: #b74141 !important;
  color: #FFFFFF !important;
}

.btn-danger:active,
.btn-danger:focus,
.btn.btn-danger:active,
.btn.btn-danger:focus {
  background-color: #a33939 !important;
  border-color: #a33939 !important;
  box-shadow: 0 0 0 0.25rem rgba(190, 73, 73, 0.5) !important;
}

/* Secondary Button - Grey (for cancel actions) */
.btn-secondary,
.btn.btn-secondary,
a.btn-secondary,
button.btn-secondary,
input.btn-secondary {
  background-color: #f1f3f4 !important;
  border-color: #d4dbde !important;
  color: #75797e !important;
}

.btn-secondary:hover,
.btn.btn-secondary:hover,
a.btn-secondary:hover,
button.btn-secondary:hover,
input.btn-secondary:hover {
  background-color: #eef1f2 !important;
  border-color: #c8d0d3 !important;
  color: #5f6368 !important;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn.btn-secondary:active,
.btn.btn-secondary:focus {
  background-color: #e8ebec !important;
  border-color: #bcc5c8 !important;
  box-shadow: 0 0 0 0.25rem rgba(212, 219, 222, 0.5) !important;
}
