<!DOCTYPE html>
<html>
	<head>
		<title>Receipt for Invoice #%invoice_number%</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
	</head>
	<body style="background-color:#400080;font-family:system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';box-sizing:border-box;font-size:16px;padding:5px;">
		<div style="padding:50px;background-color:#fff;margin:60px auto;box-sizing:border-box;font-size:16px;max-width:600px;">
			<div style='text-align:center'><h1 style="box-sizing:border-box;font-size:20px;color:#474a50;padding-bottom:10px;font-weight:600;">Payment Receipt<br> Invoice #%invoice_number%</h1></div>
			<p style="box-sizing:border-box;font-size:16px;margin:0;padding:10px 0 35px 0;">
				Hello %first_name%,
				<br><br>
				Thank you for your payment! This confirms we received your payment of $<strong style="font-weight:500">%amount%</strong> for Invoice #%invoice_number%.
				<br><br>
				Your invoice has been marked as <strong style="color:#28a745;font-weight:500">Paid</strong>.
				<br><br>
				You can view your receipt using the button below.
			</p>
				<div style='text-align:center'><a href="%link%" style="display:inline-block;background-color:#28a745;text-decoration:none;color:#fff;box-sizing:border-box;font-size:14px;font-weight:500;padding:10px 15px;border-radius:4px;">View Receipt</a></div>
		</div>
	</body>
</html>
