
.home .tickets-links {
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;
  padding-top: 25px;
}

.home .tickets-links a {
  display: flex;
  flex-flow: column;
  position: relative;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}

.home .tickets-links a i {
  position: absolute;
  z-index: 0;
}

.home .tickets-links a .title {
  color: #f5f5f5;
  z-index: 1;
  font-weight: 800;
  text-transform: uppercase;
}

.home .tickets-links a .num {
  color: #f5f5f5;
  z-index: 1;
  font-size: 40px;
  font-weight: bold;
  opacity: 0.8;
}

.home .tickets-links a.open {
  background-color:#fad087;
}

.home .tickets-links a.closed i {
  color: #aeaeae;
}

.home .tickets-links a.closed:hover {
  background-color: #ababab;
}

.home .tickets-links a.resolved {
  background-color:  #b6b6b6; 
}

.home .tickets-links a.resolved i {
  color:  #adbce6;
}

.home .tickets-links a.resolved:hover {
  background-color: #3ea462;
}

.home .tickets-links a.closed {
  background-color: #a83f3f;
}

.home .tickets-links a.closed i {
  color:#aeaeae; 
}

.home .tickets-links a.closed:hover {
  background-color: #a43e3e;
}

.home .new {
  padding-top: 60px;
}

.tickets .tickets-list, .home .tickets-list {
  display: flex;
  flex-flow: column;
}

.tickets .tickets-list .ticket, .home .tickets-list .ticket {
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  text-decoration: none;
}

.tickets .tickets-list .ticket .con, .home .tickets-list .ticket .con {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.tickets .tickets-list .ticket .con2, .home .tickets-list .ticket .con2 {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-items: flex-end;
}

.tickets .tickets-list .ticket  i, .home .tickets-list .ticket i {
  text-align: center;
  width: 80px;
}

.tickets .tickets-list .ticket .title, .home .tickets-list .ticket .title {
  font-weight: 600;
  color: #666666;
  padding-bottom: 8px;
}

.tickets .tickets-list .ticket .msg, .home .tickets-list .ticket .msg {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 400px;
  color: #000004;
  font-size: 18px;
}

.tickets .tickets-list .ticket .created, .home .tickets-list .ticket .created {
  flex-grow: 1;
  align-items: flex-end;
  color: #5a5b5c;
  font-size: 16px;
}

.tickets .tickets-list .ticket .priority, .home .tickets-list .ticket .priority {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 12px;
  padding: 2px 9px;
  border-radius: 15px;
}

.tickets .tickets-list .ticket .priority.low, .home .tickets-list .ticket .priority.low {
  background-color: #EDE7E3;
  color: #000004;
}

.tickets .tickets-list .ticket .priority.medium, .home .tickets-list .ticket .priority.medium {
  background-color: #f8eac2;
  color: #000004;
}

.tickets .tickets-list .ticket .priority.high, .home .tickets-list .ticket .priority.high {
  background-color: #f7caca;
  color: #000004;
}

.tickets .tickets-list .ticket:last-child, .home .tickets-list .ticket:last-child {
  border-bottom: 0;
}

.tickets .tickets-list .ticket:hover, .home .tickets-list .ticket:hover {
  background-color: #f3f4f7;
}

.tickets .tickets-list .ticket:hover i, .home .tickets-list .ticket:hover i {
  color: #bfbfbf;
}

.tickets form, .home form {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
}

.tickets form select, .tickets form input, .home form select, .home form input {
  border: 1px solid #ced3d6;
  padding: 6px 8px;
  margin-left: 10px;
  border-radius: 4px;
}

.tickets form select::placeholder, .tickets form input::placeholder, .home form select::placeholder, .home form input::placeholder {
  color: #b2babf;
}

.tickets form select, .home form select {
  margin-right: 15px;
}

.tickets form .search, .home form .search {
  position: relative;
}

.tickets form .search input, .home form .search input {
  padding-right: 30px;
}

.tickets form .search button, .home form .search button {
  position: absolute;
  right: 5px;
  top: 6px;
  background-color: transparent;
  border: 0;
  color: #ced3d6;
  cursor: pointer;
}

.tickets form .search button:hover, .home form .search button:hover {
  color: #b2babf;
}

.tickets .pagination, .home .pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0 40px 0;
}

.tickets .pagination a, .home .pagination a {
  display: flex;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #5a5b5c;
}

.tickets .pagination a:hover, .home .pagination a:hover {
  background-color: #ebebeb;
}

.tickets .pagination a.next, .home .pagination a.next {
  margin-left: 12px;
}

.tickets .pagination span, .home .pagination span {
  font-size: 16px;
  font-weight: 600;
  padding-left: 12px;
  color: #5a5b5c;
}

.view h2 span {
  font-weight: 600;
  font-size: 16px;
  padding: 4px 12px;
  border-radius: 15px;
  margin-left: 10px;
  text-transform: capitalize;
}

.content .block .open-ticket-note p {
    color: #a43e3e;
    background:#2f3947;
}
.view h2 .open {
  background-color: #fad087;
  color: #093824;
   
}

.response-requested {
  background-color: #FF5F15;
  color: #000004;
}

.view h2 .resolved {
  background-color: #adbce6;
  color: #093824;
  
}

.view h2 .closed {
  background-color: #d7deda;/*super light grey*/
  color: #093824;
  text-transform: capitalize;
   
}
 

.view p .open {
  background-color: #fad087;/*super light orange*/
  color: #093824;
  text-transform: capitalize;
}

.view p .resolved {
  background-color:#adbce6;
  color: #093824;
  text-transform: capitalize;
}

.view p .closed {
  background-color: #d7deda;
  color: #093824; /*charcoal*/
  text-transform: capitalize;
}
.view .profile {
  display: flex;
  padding-top: 10px;
}

.view .profile .icon {
  padding: 5px 20px 0 0;
}

.view .profile .icon span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  color:#f5f5f5;
  background-color: #777;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
}

.view .profile .info {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.view .profile .info .name {
  margin: 0;
  padding: 3px 0 0 0;
  font-weight: 600;
  font-size: 18px;
  color: #666666;
}

.view .profile .info .email {
  margin: 0;
  padding: 2px 0 0 0;
  font-size: 16px;
  color: #000004;
}

.view .ticket {
  padding: 10px 0;
}

.view .ticket span {
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 15px;
  margin-right: 5px;
}

.view .ticket .priority {
  text-transform: capitalize;
}

.view .ticket .priority.low {
  background-color: #EDE7E3;
  color: #000004;
}

.view .ticket .priority.medium {
  background-color: #f8eac2;
  color: #dea200;
}

.view .ticket .priority.high {
  background-color: #f7caca;
  color: #b64343;
}

.view .ticket .sep {
  padding: 0 5px;
}

.view .ticket .category {
  background-color: #EDE7E3;
  color: #000004;
}

.view .ticket .created {
  display: flex;
  color: #000004;
  justify-content: flex-end;
  flex-grow: 1;
}

.view .ticket .msg {
  margin: 0;
  padding: 30px 0 20px 0;
}

.view .ticket div {
  display: flex;
}

.view .uploads-header {
  color: #5e6169;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0;
  margin: 0;
}

.view .uploads {
  display: flex;
  padding: 10px 0;
}

.view .uploads a {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-right: 10px;
  border: 1px solid #dcdfe2;
  padding: 5px;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.view .uploads a img {
  width: 100%;
  max-height: 100%;
}

.view .uploads a i {
  font-size: 22px;
  color: #dcdfe2;
}

.view .uploads a span {
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
  text-transform: uppercase;
  color: #b2babf;
}

.view .uploads a:hover {
  border: 1px solid #c0c7ca;
}

.view .uploads a:hover i {
  color: #ced3d6;
}

.view .uploads a:hover span {
  color: #a4aeb3;
}

.view .uploads a:hover img {
  opacity: .9;
}

.view .comments {
  margin-top: 15px;
  border-top: 1px solid #ebebeb;
  padding: 25px 0;
}

.view .comments .comment {
  display: flex;
  padding-bottom: 5px;
}

.view .comments .comment div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 70px;
  color: #e6e6e6;
  transform: scaleX(-1);
}

.view .comments .comment p {
  margin: 0 0 20px 0;
}

.view .comments .comment p .comment-header {
  display: flex;
  padding-bottom: 5px;
}

.view .comments .comment p .comment-header .name, .view .comments .comment p .comment-header .date {
  font-size: 16px;
  color: gray;
}

.view .comments .comment p .comment-header .name {
  font-weight: 600;
  padding-right: 10px;
  color: #0058ba;
}

.view .comments .comment p .comment-header .name.is-admin {
  color: #b94040;
}

.view .comments .comment p .comment-header .edit {
  text-decoration: none;
  margin-left: 10px;
  color: #cccccc;
  cursor: pointer;
}

.view .comments .comment p .comment-header .edit:hover {
  color: #b3b3b3;
}
.update {
    text-align:center;
    background-color: #f3f4f7;
    max-width:800px;
}
.update form, .view form {
  padding: 15px 0;
  display: inline-block;
  flex-flow: column;
  width: 90%;
}

.update form .wrap, .view form .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.update form .wrap label, .update form .wrap select, .view form .wrap label, .view form .wrap select {
  width:100%;
  margin-right: 0;
}

.update form .wrap label:first-child, .update form .wrap select:first-child, .view form .wrap label:first-child, .view form .wrap select:first-child {
  padding-right: 15px;
}

.update form label, .view form label {
  display: inline-flex;
  width: 90%;
  padding: 10px 0;
  margin-right: 25px;
}
.update label {
  display: block;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #000004;
  text-align:left;
}
.update label .required {
  color: #ec3b3b;
}
.update form input, .update form select, .view form input, .view form select {
  padding: 10px 12px;
  width: 90%;
  margin-right: 25px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #000004;
}
.checkbox{
    width: 20px;
}

.update form input::placeholder, .update form select::placeholder, .view form input::placeholder, .view form select::placeholder {
  color: #000004;
}

.update form .msg, .view form .msg {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-bottom: 15px;
}

.update form .msg textarea, .view form .msg textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfe1e7;
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 150px;
  resize: none;
  outline: 0;
}

.update form .msg textarea::placeholder, .view form .msg textarea::placeholder {
  color: #000004;
}

.update form .msg .toolbar, .view form .msg .toolbar {
  display: flex;
  width: 100%;
  border: 1px solid #dfe1e7;
  background-color: #f8f8f8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.update form .msg .toolbar .fa-solid, .view form .msg .toolbar .fa-solid {
  padding: 10px;
  cursor: pointer;
  color: #7a5c61;
  font-size: 16px;
  width: 20%;
  display: flex;
}

.update form .msg .toolbar .fa-solid:hover, .view form .msg .toolbar .fa-solid:hover {
  color: #474747;
}

.update form .error-msg, .view form .error-msg {
  color: #b63838;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
  margin: 0;
}

