.brand-dark{
    color:white;
    background:#f6768E;
}
.brand-light{
    background:white;
    color:#f6768E;
}
.brand-test{
    background:#593196;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.custom {
    background:#d6c1f6;;
}
.scroll-btn {
	height: 40px;
	width: 40px;
	border: 2px solid #000;
	border-radius: 10%;
	background-color: #000;
	position: fixed;
	bottom: 25px;
	right: 20px;
	opacity: 0.8;
	z-index: 9999;
	cursor: pointer;
	display: none;
}

.scroll-btn .scroll-btn-arrow {
	height: 12px;
	width: 12px;
	border: 3px solid;
	border-right: none;
	border-top: none;
	margin: 15px 12px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	color: white;
}
.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.notouch .scroll-btn:hover { opacity: 0.8 }

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.scroll-btn {
		bottom: 8px;
		right: 8px;
	}
}